<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About IPCAI 2021</h2>
                <hr class="light">
                <p class="text-left">The Information Processing in Computer-Assisted Interventions (IPCAI) is one of the most important forums for innovation in the domain of computer-assisted surgery. The IPCAI conference is a truly international interdisciplinary conference bringing clinicians, computer scientists, engineers, and other researchers at a unique setting. The format of the meeting is designed specifically for active engagement from the attendees.</p>
				
				              
				<p class="text-left">The next IPCAI meeting is intended to be on June 22-23, 2021, in conjunction with the <a class="page-scroll" href="https://www.cars-int.org/" style="color: rgb(233,196,106)" target="_blank">Computer-Assisted Radiology and Surgery (CARS) Congress 2021</a>.</p>

				<img src="img/other_logos/cars2021.jpg" height="200" alt=""></br></br>
				
				
				<p class="text-left">The event will be in a virtual format due to health and travel restrictions of the ongoing Covid-19 pandemic. IPCAI 2021 is endorsed by <a href="http://www.iscas.net/" style="color: rgb(233,196,106)"target="_blank" data-content="http://www.iscas.net/" data-type="external" rel="nofollow noopener">ISCAS </a> and <a href="http://miccai.org/" style="color: rgb(233,196,106)" target="_blank" data-content="http://miccai.org/" data-type="external" rel="nofollow noopener">MICCAI</a>.</p>
				
				<img src="img/other_logos/iscas_logo.jpg" width="150" alt=""></br></br>
				
				<img src="img/other_logos/MICCAI-logo.jpg" width="150" alt=""></br></br>
								
                <a href="#page-top" class="btn btn-default btn-xl page-scroll">Back to top!</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
			<!--
            <div class="col-lg-4 col-sm-6">
                <a href="#subjects" class="portfolio-box">
                    <img src="img/cai_DS.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Theme and Vision
                            </div>
                            <div class="project-name">
                                More about IPCAI
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#author" class="portfolio-box">
                    <img src="img/ipcai2018/IPCAI2018_Award1_crop_DS.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Format
                            </div>
                            <div class="project-name">
                                Information for Authors and Attendees
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#committees" class="portfolio-box" >
                    <img src="img/ipcai2018/IPCAI2018_Panel2_crop_DS.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Organization
                            </div>
                            <div class="project-name">
                                More about who we are
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#submission" class="portfolio-box" >
                    <img src="img/writing.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Submission
                            </div>
                            <div class="project-name">
                                Paper formats and Submission
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#review" class="portfolio-box" >
                    <img src="img/reviewing.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Paper Review
                            </div>
                            <div class="project-name">
                                Paper Review Process
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			-->
        </div>
    </div>

</section>
