<section class="bg-primary" id="author">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Information for Authors and Attendees</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <h3>The goal of the conference format is to encourage constructive discussion of the presented papers and active engagements between authors and attendees.</h3>
    </div>
    <div class="col-lg-12">
    <h3>
        <li>Conference Format</li>
         </h3>
         <h3>
                The conference program consists of three phases:<br><br>
                <li><b>Short podium presentations (Day 1):</b>
                    <br>All authors will practicipate in providing a short, 5-minutes, oral presentations. Papers are grouped by their topics into sessions. After each session, attendee vote for two papers they would like to be presented and discussed at length on Day 2. No questioning period is allocated for the short podium presentation.<br><br>
                </li>
    
                <li><b>Poster presentations (Day 1):</b>
                    <br>All authors will practicipate in poster presentations. Designated time and location are provided to allow the attendeeds and authors to engate in in-depth discussions.<br><br>
                </li>
    
                <li><b>Long podium presentations (Day 2):</b>
                    <br>Attendees-chosen papers will be presented in a long, 15-minutes, podium. Questioning periods is provided.<br><br>
                </li>
         </h3>
<h3><li>         INSTRUCTION FOR AUTHORS</li></h3>
<h3>
Authors will need to prepare two oral presentation and a poster before coming to the conference:<br><br>

<b>ALL AUTHORS</b><br><br>
<li><b>A 5-minutes oral presenation:</b>
    <br>A short, but complete, presentation about your paper. The audience will vote for a long presentation based on it.<br><br>
</li>
<li><b>Poster presentation:</b>
    <br>Schedules are provided for authors to present their posters; this is designed for attendees and authors to engage in detailed discussion of the presented work. The exact format/dimension will be anncounced later.<br><br>
</li><br><br>
<b>Selected by Attendees</b><br><br>
<li><b>A 15-minutes podium presentation (plus questioning periods):</b>
    <br>Presenters are kindly asked to minimize the overlap between the short and long presentations.<br><br>
</li>
</h3>
<h2>Best Presentation Awards will be selected by the audience for the long presentations.</h2>


    </div>
    </div>
    </div>

</section>