<section id="CFP">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Call for Papers</h2>
                <hr class="light">
                <p class="text-left">You are invited to submit your contributions to IPCAI 2021.

				IPCAI is a premiere international forum for technical innovations, system development and clinical studies in computer assisted interventions (CAI). Submissions of original works are encouraged within the broad areas of interest of CAI and specifically in:</p>
				
				<ul class="text-left">
					<li><p class="font_8"><span class="color_12">Surgical data science</span></li>
					<li><p class="font_8"><span class="color_12">Interventional imaging</span></li>
					<li><p class="font_8"><span class="color_12">Systems and software</span></p></li>
					<li><p class="font_8"><span class="color_12">Evaluation and validation</span></p></li>
					<li><p class="font_8"><span class="color_12">Tracking and navigation</span></p></li>
					<li><p class="font_8"><span class="color_12">Interventional robotics</span></p></li>
					<li><p class="font_8"><span class="color_12">Surgical planning and simulation</span></p></li>
					<li><p class="font_8"><span class="color_12">Advanced intra-operative visualization and user interfaces</span></p></li>
					<li><p class="font_8"><span class="color_12">Augmented Reality for medical applications</span></p></li>
					<li><p class="font_8"><span class="color_12">Surgical skill analysis and workflow</span></p></li>
				</ul></br></br>
				
				<p class="text-left">
				<b>Regular Papers</b></br></br>
				
				<table style="width:100%">
					<tr>
						<td align="left"><p class="font_8"><span class="color_12">28 October 2020:</span></p></td>
						<td align="left"><p class="font_8"><span class="color_12">Regular Paper submission</span></p></td>
					</tr>
					<tr>
						<td align="left"><p class="font_8"><span class="color_12">mid-December 2021:</span></p></td>
						<td align="left"><p class="font_8"><span class="color_12">First round of reviews and early decisions</span></p></td>
					</tr>
					<tr>
						<td align="left"><p class="font_8"><span class="color_12">mid-January 2021:</span></p></td>
						<td align="left"><p class="font_8"><span class="color_12">Revisions and rebuttals due</span></p></td>
					</tr>
					<tr>
						<td align="left"><p class="font_8"><span class="color_12">3 March 2021:</span></p></td>
						<td align="left"><p class="font_8"><span class="color_12">Notification of decisions</span></p></td>
					</tr>
				</table>
				
				</p>
				<p class="text-left">
				
				Accepted papers will be transferred to the International Journal of Computer Assisted Radiology and Surgery (IJCARS) for further revisions, if required, to be considered for publication as a full paper in a regular journal issue, indexed in PubMed.</br></br>
				
				Submissions are in LNCS format, up to 13 pages (<a href="#submission" class="page-scroll">Submission details</a>).</br></br>

				<b>Long Abstracts</b></br></br>
				
				Alternative to regular long papers, you will also have the opportunity to submit long abstracts to showcase to the CAI community your novel ideas, software platforms, or recent breakthroughs, including those with preliminary but limited experimental validation. Accepted long abstracts will be presented as oral and/or poster presentations at IPCAI.</br></br>
				
				<table style="width:100%">
					<tr>
						<td align="left"><p class="font_8"><span class="color_12">13 January 2021:</span></p></td>
						<td align="left"><p class="font_8"><span class="color_12">Long Abstract submission</span></p></td>
					</tr>
					<tr>
						<td align="left"><p class="font_8"><span class="color_12">3 March 2021:</span></p></td>
						<td align="left"><p class="font_8"><span class="color_12">Notification of decisions</span></p></td>
					</tr>
				</table>
				</p>
				
				<p class="text-left">
				Submissions are in LNCS format, 4 pages long (<a href="#submission" class="page-scroll">Submission details</a>).
				</p>
            </div>
        </div>
    </div>      
</section>
