<section class="bg-primary" id="CFPLA">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Call For Paper - Long Abstract</h2>
                         
                <hr class="light">
                
                <p class="text-faded">
                    The 10th International Conference on Information Processing in Computer Assisted Interventions (IPCAI)
                </p>
                <hr>
                <p class="text-faded">
                    IPCAI 2019 will be hosted in conjunction with <a class="page-scroll" href="https://www.cars2019.org" style="color: rgb(0,255,0)" target="_blank">CARS 2019</a> in <a class="page-scroll" href="#venue" style="color: rgb(0,255,0)">Rennes, France</a>, June 18-19, 2019.
                </p>

            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Important Dates:</p>
                    <h3><ul>
                        <li>Long Abstract submission:  January 11, 2019, 11:59pm PST</li>
                        <li>Author notification:       February 1, 2019</li>
                        </ul>
                    </h3>
            </div>
        </div>
    </div>
        
    <br><br>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>IPCAI is a premiere international forum for technical innovations, system development and clinical studies in computer assisted interventions (CAI).</p>
                <h3><ul>
                    <li>Surgical data science</li>
                    <li>Interventional imaging</li>  
                    <li>Systems and software</li>
                    <li>Evaluation and Validation</li>
                    <li>Augmented reality for medical applications</li>
                    <li>Surgical planning and simulation</li> 
                    <li>Tracking and Navigation</li>
                    <li>Interventional robotics</li> 
                    <li>Surgical skill analysis and workflow</li> 
                    <li>Advanced intra-operative visualization and user interfaces</li> 
                </ul></h3>
                <h3><b>NEW FOR 2019</b></h3>
                
                <p>
                    For the first time, IPCAI will provide an opportunity for the CAI community to showcase scientific breakthroughs and novel ideas. Authors will be able to submit Long Abstracts to be presented as 5-minute short orals and poster presentations at IPCAI. The focus of these Long Abstracts will be on:
                </p>
                <h3><ul>
                    <li>Exciting new breakthroughs relevant to IPCAI, or</li>
                    <li>Novel ideas with preliminary but limited experimental validations, or</li>
                    <li>Recently published or submitted journal contributions with exciting new breakthroughs, as to give authors the opportunity to present their work and obtain feedback from IPCAI community.</li>
                </ul></h3>
                <p>
                    The Long Abstract will be peer-reviewed and the final accepted Long Abstract will be published on-line only on the day of the conference (June 18, 2019) and thereafter. Author(s) of original work may elect to submit accepted Long Abstracts to IJCARS for consideration as a short-communication article (an additional review process will be required and process through IJCARS directly).
                </p>
                <p>
                    The Long Abstract is to be submitted via a separate Microsoft CMT, available at <a href="https://cmt3.research.microsoft.com/IPCAILA2019" style="color: rgb(0,255,0)" target="_blank" >HERE</a>
                </p>
                <p>
                    The deadline for Long Abstracts is January 11, 2019 at 11:59pm PST. 
                </p>
            
                <p>
                        Long Abstract Format:</p>
                <h3><ul>
                    <li>LNCS format, latex template at <a href="ftp://ftp.springernature.com/cs-proceeding/llncs/llncs2e.zip" style="color: rgb(0,255,0)">Springer’s website</a></li>
                    <li>Accepted file format: PDF only</li>
                    <li>2-4 pages with figures, tables, and bibliography (4 pages maximum)</li>
                    <li>Do not modify the LNCS template in anyway (no changes in margin, line spacing, etc.). Any alteration to LNCS template format will result in automatic rejection</li>
                    <li>The Long Abstract text is to be structured exactly as the following:</li>
                    <ul>
                        <li>Full title of the paper</li>
                        <li>Full list of the authors and affiliations</li>
                        <li>Purpose</li>
                        <li>Methods</li>
                        <li>Results</li>
                        <li>Conclusion</li>
                        <li>Bibliography</li>
                        <li>Figures/Tables must be referenced in the text</li>
                        <li>Figures/Tables captions must be provided</li>
                        <li>No “short abstract” is needed</li>
                    </ul>
                    <li>Each Long Abstract can be accompanied with a single <b>(1)</b> supplemental video. The supplemental video must be compressed and uploaded in <b>.ZIP</b> file format.</li>
                    <li>On the Microsoft CMT submission system ONLY, submit a 2000-character abstract detailing the nature of the work and why it should be considered for the Long Abstract category. This is for review purpose and is not to be included in the long abstract text.</li>
                </ul></h3>
            </div>
        </div>
    </div>
</section>