<section id="committees">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organization Committees</h2>
                    <hr class="light">
					<p><strong>Program Chairs</strong></p>
					Alfred M. Franz, <em>Ulm University of Applied Sciences (THU), Germany</em></br>
					Orcun Goksel, <em>Swiss Federal Institute of Technology (ETH Zurich), Switzerland </em></br>
					</br></br>
					<p><strong>General Chairs</strong></p>
					
					Lena Maier-Hein, <em>German Cancer Research Center (DKFZ), Germany</em></li></br>
					Stefanie Speidel, <em>National Center for Tumor Diseases (NCT), Germany</em></li></br>
					Tim Salcudean, <em>The University of British Columbia (UBC), Canada</em></li></br>
					</br></br>
					
					<p><strong>Area Chairs</strong></p>
					
					<em>Will be nominated soon.</em></br>
					</br></br>
					
					<p><strong>Steering Committee</strong></p>
					Purang Abolmaesumi, <em>University of British Columbia, Canada</em></br>
					Kevin Cleary, <em>Children&#8217;s National Medical Center, US</em></br>
					Gabor Fichtinger, <em>Queen’s University, Canada</em></br>
					Makoto Hashizume, <em>Kyushu University, Japan</em></br>
					David Hawkes, <em>University College London, UK</em></br>
					Pierre Jannin, <em>Université de Rennes, France</em></br>
					Leo Joskowicz, <em>The Hebrew University of Jerusalem, Israel</em></br>
					Ron Kikinis, <em>Brigham and Women&#8217;s Hospital, US</em></br>
					Heinz Lemke, <em>Technical University of Berlin &amp; IFCARS</em></br>
					Parvin Mousavi, <em>Queen’s University, Canada</em></br>
					Kensaku Mori, <em>Nagoya University, Japan</em></br>
					Nassir Navab, <em>Technical University of Munich, Germany &amp; Johns Hopkins University, US</em></br>
					Terry Peters, <em>Western University, Canada</em></br>
					Ichiro Sakuma, <em>The University of Tokyo, Japan</em></br>
					Danail Stoyanov, <em>University College London, UK</em>
					Russell Taylor, <em>Johns Hopkins University, US</em></br>
					</br></br>
                </div>
            </div>
        </div>

    </section>