<section class="bg-primary" id="committees">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organization Committees</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>


    <div class="container">
            <div class="row">
            <div class="col-lg-12">
            <h3>
                    <b>Program Chairs</b>: Elvis Chen, Kanako Harada, Raphael Sznitman<br><br>
                    
                    <b>General Chairs</b>: Kensaku Mori, Parvin Mousavi, Lena Meier-Hein<br><br>
                    
                    <b>Program Board</b>: David Hawkes, Nassir Navab, Tim Salcudean, Russell Taylor<br><br>
                    
                    <b>Steering Committee</b>: Purang Abolmaesumi, Kevin Cleary, Gabor Fichtinger, Makoto Hashizume, David Hawkes, Pierre Jannin, Leo Joskowicz, Ron Kikinis, Heinz Lemke, Kensaku Mori, Nassir Navab, Terry Peters, Ichiro Sakuma, Tim Salcudean, Gábor Székely, Russell Taylor, Guang-Zhong Yang<br><br>
                    <b>Area Chairs</b>: Adrien Bartoli, Alfred Franz, Amber Simpson, Amir Tahmasebi, Andrew Wiles, Caroline Essert, Chee-Kong Chui, Ilker Hacihaliloglu, Ingerid Reinertsen, Junchen Wang, Ka-Wai Kwok, Mahdi Azizian, Matthieu Chabanas, Menglong Ye, Nicola Rieke, Nicolas Padoy, Sandrine Voros, Siyang Zuo, Stamatia Giannarou, Toby Collins.
                    <!--
                    <table style="width:100%">
                        <tr>
                            <td>Adrien</td>
                            <td>Bartoli</td>
                            <td>Université Clermont Auvergne</td>
                            <td>France</td>
                        </tr>
                        <tr>
                            <td>Alfred</td>
                            <td>Franz</td>
                            <td>Hochschule Ulm</td>
                            <td>Germany</td>
                        </tr>
                        <tr>
                            <td>Amber</td>
                            <td>Simpson</td>
                            <td>Memorial Sloan Kettering Cancer Center</td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td>Amir</td>
                            <td>Tahmasebi</td>
                            <td>Phillips Research</td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td>Andrew</td>
                            <td>Wiles</td>
                            <td>Northern Digitial Inc.</td>
                            <td>Canada</td>
                        </tr>
                        <tr>
                            <td>Caroline</td>
                            <td>Essert</td>
                            <td>Université de Strasbourg / ICUBE</td>
                            <td>France</td>
                        </tr>
                        <tr>
                            <td>Chee-Kong</td>
                            <td>Chui</td>
                            <td>National University of Singapore</td>
                            <td>Singapore</td>
                        </tr>
                        <tr>
                            <td>Ingerid</td>
                            <td>Reinertsen</td>
                            <td>SINTEF</td>
                            <td>Norway</td>
                        </tr>
                        <tr>
                            <td>Junchen</td>
                            <td>Wang</td>
                            <td>Beihang University</td>
                            <td>China</td>
                        </tr>
                        <tr>
                            <td>Ka-Wai</td>
                            <td>Kwok</td>
                            <td>University of Hong Kong</td>
                            <td>Hong Kong, China</td>
                        </tr>
                        <tr>
                            <td>Mahdi</td>
                            <td>Azizian</td>
                            <td>Intuitive Surgical</td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td>Matthieu</td>
                            <td>Chabanas</td>
                            <td>University of Grenoble Alpes/Grenoble INP Institute of Technology</td>
                            <td>France</td>
                        </tr>
                        <tr>
                            <td>Menglong</td>
                            <td>Ye</td>
                            <td>Auris Health, Inc.</td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td>Nicola</td>
                            <td>Rieke</td>
                            <td>NVIDIA</td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td>Nicolas</td>
                            <td>Padoy</td>
                            <td>IHU-Strasbourg</td>
                            <td>France</td>
                        </tr>
                        <tr>
                            <td>Sandrine</td>
                            <td>Voros</td>
                            <td>INSERM</td>
                            <td>France</td>
                        </tr>
                        <tr>
                            <td>Siyang</td>
                            <td>Zuo</td>
                            <td>Tianjin University</td>
                            <td>China</td>
                        </tr>
                        <tr>
                            <td>Stamatia</td>
                            <td>Giannarou</td>
                            <td>Imperial College London</td>
                            <td>UK</td>
                        </tr>
                        <tr>
                            <td>Toby</td>
                            <td>Collins</td>
                            <td>IRCAD</td>
                            <td>France</td>
                        </tr>
                       </table>
                       -->
                    </h3><br><br>
            </div>
            </div>
            </div>

    </section>