<section id="committees">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organization Committees</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>


    <div class="container">
            <div class="row">
            <div class="col-lg-12">
            <h3>
                    <b>Program Chairs</b>: Elvis Chen, Kanako Harada, Raphael Sznitman<br><br>
                    
                    <b>General Chairs</b>: Kensaku Mori, Parvin Mousavi, Lena Meier-Hein<br><br>
                    
                    <b>Program Board</b>: David Hawkes, Nassir Navab, Tim Salcudean, Russell Taylor<br><br>
                    
                    <b>Steering Committee</b>: Purang Abolmaesumi, Kevin Cleary, Gabor Fichtinger, Makoto Hashizume, David Hawkes, Pierre Jannin, Leo Joskowicz, Ron Kikinis, Heinz Lemke, Kensaku Mori, Nassir Navab, Terry Peters, Ichiro Sakuma, Tim Salcudean, Gábor Székely, Russell Taylor, Guang-Zhong Yang<br><br>
                    <b>Area Chairs</b>: The list will be updated soon.
                    </h3><br><br>
            </div>
            </div>
            </div>

    </section>