<section class="bg-primary" id="discussion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Panel Discussion</h2>
        <hr class="light">
      </div>
    </div>
  </div>
  <p class="text-center">
    During the panel, moderator Parvin Mousavi will discuss future research topics as well as the impact of the pandemic on research with renowned guests.
  </p>
  <hr class="light">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="display: table; table-layout: fixed">
              <div class="text-right" style="display:table-cell; width: 50%">
                <img src="img/ipcai2021/panelists/ParvinMousavi.jpg" style="margin: 15px" width="150px"  alt="Parvin Mousavi"/>
              </div>
              <div class="text-left" style="display: table-cell; width: 50%" ><h3>Parvin Mousavi</h3> <b>Moderator</b> <br> Professor at Queen’s University (CA)</div>
        </div>
        <div class="col-md-6" style="display: table;">
              <div class="text-right" style="display:table-cell; width: 50%">
                <img src="img/ipcai2021/panelists/AliceSantilli.jpg" style="margin: 15px" width="150px" alt="Alice Santilli"/>
              </div>
              <div class="text-left" style="display:table-cell; width: 50%" ><h3>Alice Santilli</h3> <b>Co Moderator</b> <br> MSc Student at Queen’s University (CA)</div>
        </div>

        <div class="col-md-6" style="display: table">
          <div class="text-right" style="display:table-cell; width: 50%">
          <img src="img/ipcai2021/panelists/ShekoofehAzizi.jpg" style="margin: 15px" width="150px" alt="Shekoofeh Azizi"/>
          </div>
          <div class="text-left" style="display:table-cell; width: 50%"><h3>Shekoofeh Azizi</h3> AI Researcher at Google</div>
        </div>

        <div class="col-md-6" style="display: table">
          <div class="text-right" style="display:table-cell; width: 50%">
          <img src="img/ipcai2021/panelists/PurangAbolmaesumi.jpg" style="margin: 15px" width="150px" alt="Purang Abolmaesumi"/></div>
          <div class="text-left" style="display:table-cell; width: 50%"><h3>Purang Abolmaesumi</h3> Professor of Medical Imaging, Image Guided Therapy and Applied Machine Learning at UBC</div>
        </div>
        <div class="col-md-6" style="display: table">
          <div class="text-right" style="display:table-cell; width: 50%">
          <img src="img/ipcai2021/panelists/DavidPichora.jpg" style="margin: 15px" width="150px" alt="David Pichora"/></div>
          <div class="text-left" style="display:table-cell; width: 50%" ><h3>David Pichora</h3> President & CEO Kingston Health Sciences Centre</div>
        </div>
        <div class="col-md-6" style="display: table">
          <div class="text-right" style="display:table-cell; width: 50%">
          <img src="img/ipcai2021/panelists/HedyehRafiiTari.jpg" style="margin: 15px" width="150px" alt="Hedyeh Rafii-Tari"/></div>
          <div class="text-left" style="display:table-cell; width: 50%"><h3>Hedyeh Rafii-Tari</h3> Principal Research Scientist at Johnson & Johnson</div>
        </div>
        <div class="col-md-6" style="display: table">
          <div class="text-right" style="display:table-cell; width: 50%">
          <img src="img/ipcai2021/panelists/LenaMaierHein.jpg" style="margin: 15px" width="150px" alt="Lena Maier-Hein"/>
          </div>
          <div class="text-left" style="display:table-cell; width: 50%"><h3>Lena Maier-Hein</h3> Professor of Computer-assisted Medical Interventions at DKFZ</div>
        </div>
      </div>
    </div>
</section>