<section class="bg-primary" id="discussion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Panel Discussion</h2>
        <hr class="light">
      </div>
    </div>
  </div>

  <div class="container">
      <p class="text-left">
        During the panel, moderator Parvin Mousavi will discuss future research topics as well as the impact of the pandemic on research with renowned guests.
      </p>
      <hr class="light">
      <div style="display: inline-grid; grid-template-columns: auto auto">
        <div style="display: inline-flex; align-items: center; justify-content:flex-start">
          <img src="img/ipcai2021/panelists/ParvinMousavi.jpg" style="margin: 15px" width="150px" alt="Parvin Mousavi"/>
          <div class="text-left" ><h3>Parvin Mousavi</h3> <b>Moderator</b> <br> Professor at Queen’s University (CA)</div>
        </div>
        <div style="display: inline-flex; align-items: center; justify-content:flex-end">
          <div class="text-right" ><h3>Alice Santilli</h3> <b>Co Moderator</b> <br> MSc Student at Queen’s University (CA)</div>
          <img src="img/ipcai2021/panelists/AliceSantilli.jpg" style="margin: 15px" width="150px" alt="Alice Santilli"/>
        </div>
        <div style="display: inline-flex; align-items: center; justify-content:flex-start">
          <img src="img/ipcai2021/panelists/ShekoofehAzizi.jpg" style="margin: 15px" width="150px" alt="Shekoofeh Azizi"/>
          <div class="text-left"><h3>Shekoofeh Azizi</h3> AI Researcher at Google</div>
        </div>
        <div style="display: inline-flex; align-items: center; justify-content:flex-end">
          <div class="text-right"><h3>Purang Abolmaesumi</h3> Professor of Medical Imaging, Image Guided Therapy and Applied Machine Learning at UBC</div>
          <img src="img/ipcai2021/panelists/PurangAbolmaesumi.jpg" style="margin: 15px" width="150px" alt="Purang Abolmaesumi"/>
        </div>
        <div style="display: inline-flex; align-items: center; justify-content:flex-start">
          <img src="img/ipcai2021/panelists/DavidPichora.jpg" style="margin: 15px" width="150px" alt="David Pichora"/>
          <div class="text-left" ><h3>David Pichora</h3> President & CEO Kingston Health Sciences Centre</div>
        </div>
        <div style="display:inline-flex; align-items: center; justify-content:flex-end">
          <div class="text-right"><h3>Hedyeh Rafii-Tari</h3> Principal Research Scientist at Johnson & Johnson</div>
          <img src="img/ipcai2021/panelists/HedyehRafiiTari.jpg" style="margin: 15px" width="150px" alt="Hedyeh Rafii-Tari"/>
        </div>
        <div style="display: inline-flex; align-items: center; justify-content:flex-start">
          <img src="img/ipcai2021/panelists/LenaMaierHein.jpg" style="margin: 15px" width="150px" alt="Lena Maier-Hein"/>
          <div class="text-left"><h3>Lena Maier-Hein</h3> Professor of Computer-assisted Medical Interventions at DKFZ</div>
        </div>
      </div>
    </div>
</section>