<section class="bg-primary" id="discussion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Panel Discussion</h2>
        <hr class="light">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-lg-12 text-center">
      <p class="text-left">
        During the panel, moderator Parvin Mousavi will discuss future research topics as well as the impact of the pandemic on research with renowned guests.
      </p>
      <hr class="light">
      <div style="display: inline-grid; grid-auto-columns: 500px">
        <div style="display: inline-flex; align-items: center">
          <img src="../img/ipcai2021/panelists/ParvinMousavi.jpg" width="150px" alt="Parvin Mousavi"/>
          <div class="text-left" style="margin-left: 10px;"><h3>Parvin Mousavi</h3> <b>Moderator</b> <br> Professor at Queen’s University (CA)</div>
        </div>
        <div style="display: inline-flex; align-items: center; padding-top: 20px">
          <img src="../img/ipcai2021/panelists/AliceSantilli.jpg" width="150px" alt="Alice Santilli"/>
          <div class="text-left"  style="margin-left: 10px"><h3>Alice Santilli</h3> <b>Co Moderator</b> <br> MSc Student at Queen’s University (CA)</div>
        </div>
        <div style="display: inline-flex; align-items: center; padding-top: 20px">
          <img src="../img/ipcai2021/panelists/ShekoofehAzizi.jpg" width="150px" alt="Shekoofeh Azizi"/>
          <div class="text-left"  style="margin-left: 10px"><h3>Shekoofeh Azizi</h3> AI Researcher at Google</div>
        </div>
        <div style="display: inline-flex; align-items: center; padding-top: 20px">
          <img src="../img/ipcai2021/panelists/PurangAbolmaesumi.jpg" width="150px" alt="Purang Abolmaesumi"/>
          <div class="text-left"  style="margin-left: 10px"><h3>Purang Abolmaesumi</h3> Professor of Medical Imaging, Image Guided Therapy and Applied Machine Learning at UBC</div>
        </div>
        <div style="display: inline-flex; align-items: center; padding-top: 20px">
          <img src="../img/ipcai2021/panelists/DavidPichora.jpg" width="150px" alt="David Pichora"/>
          <div class="text-left"  style="margin-left: 10px"><h3>David Pichora</h3> President & CEO Kingston Health Sciences Centre</div>
        </div>
        <div style="display: inline-flex; align-items: center; padding-top: 20px">
          <img src="../img/ipcai2021/panelists/LenaMaierHein.jpg" width="150px" alt="Lena Maier-Hein"/>
          <div class="text-left"  style="margin-left: 10px"><h3>Lena Maier-Hein</h3> Professor of Computer-assisted Medical Interventions at DKFZ</div>
        </div>
        <div style="display:inline-flex; align-items: center; padding-top: 20px">
          <img src="../img/ipcai2021/panelists/HedyehRafiiTari.jpg" width="150px" alt="Hedyeh Rafii-Tari"/>
          <div class="text-left"  style="margin-left: 10px"><h3>Hedyeh Rafii-Tari</h3> Principal Research Scientist at Johnson & Johnson</div>
        </div>
      </div>
    </div>
  </div>
</section>
