<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/ipcai_logo_transparent.png" alt="IPCAI Logo" style="height:70px;"><br>
            <h1> IPCAI 2019</h1>
            <hr>
            <p>The 10th International Conference on Information Processing in Computer-Assisted Interventions</p>
            <p>June 17-18, 2019: Rennes, France</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
