<section id="LAFAQ">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Frequently Asked Questions (FAQ) - Long Abstract</h2>
            <hr class="primary">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><b>Question: Will the Long Abstracts be published, and if so, how?</b></p>
                <p>Accepted Long Abstracts will be published on-line ONLY on the day of conference (June 18, 2019) and thereafter. </p>
                <p>Authors of original work may elect to submit accepted Long Abstracts to IJCARS for consideration as short-communication articles. An additional review process will be required and process through IJCARS directly.</p>
            </div>
        </div>
    </div>
    <hr class="primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><b>Question: Can I submit a Long Abstract based on my own prior works, including published or submitted journal manuscripts?</b></p>
                <p>Yes. IPCAI encourages submission of exciting new breakthrough and will accept Long Abstracts based on published works or works currently in submission to other journals.  In the IPCAI Long Abstract submission process, you will be asked to provide details of these prior arts, such as the name of journals. This is to give authors the opportunity to present their work and to obtain feedback from IPCAI community. </p>
            </div>
        </div>
    </div>
    <hr class="primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><b>Question: How are accepted Long Abstracts presented?</b></p>
                <p>Accepted Long Abstracts will be presented as 5-minutes oral presentations (no questioning period) and as poster presentations. Format of the poster will be announced at a later date.</p>
            </div>
        </div>
    </div>
    <hr class="primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><b>Question: Can Long Abstracts be voted for long oral presentations?</b></p>
                <p>The answer to this question will be based on the number, as well as the quality, of submissions. Decision will be made at a later date.</p>
            </div>
        </div>
    </div>
    <hr class="primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><b>Question: How are Long Abstracts being reviewed?</b></p>
                <p>Long Abstracts are peer-reviewed by IPCAI Area Chairs with input from the Program Board. For the list of organization committees, refer to <a class="page-scroll" href="#committees">HERE</a>.</p>
            </div>
        </div>
    </div>
    <hr class="primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><b>Question: Are the Long Abstracts eligible for Awards?</b></p>
                <p>No.</p>
            </div>
        </div>
    </div>
    <hr class="primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><b>Question: How do I prepare the Long Abstract manuscript?</b></p>
                <p>Please use the LNCS LaTeX template available at <a href="ftp://ftp.springernature.com/cs-proceeding/llncs/llncs2e.zip" style="color: rgb(0,255,0)">Springer’s website</a>, and submit the manuscript in PDF format only.</p>
                <p>We are unable to supply with a Microsoft Word or any other template. If you are having trouble installing a LaTeX typesetting system on your computer, your may consider using on-line LaTeX editor such as OverLeaf.</p>
            </div>
        </div>
    </div>
    <hr class="primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><b>Question: What is the format of the manuscript?</b></p>
                <p>Please use the LNCS LaTeX template available at <a href="ftp://ftp.springernature.com/cs-proceeding/llncs/llncs2e.zip" style="color: rgb(0,255,0)">Springer’s website</a>. Please do not modify the LaTeX template: any alteration to LNCS template format will result in automatic rejection.</p>
                <p>The manuscript should be 2-4 pages (4 pages maximum) with structures outlined in the <a class="page-scroll" href="#CFPLA">Call-For-Paper for Long Abstract</a>.</p>
            </div>
        </div>
    </div>
    <hr class="primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>For any other questions or comments, please feel free to <a class="page-scroll" href="#contact">contact us</a>.</p>
            </div>
        </div>
    </div>
</section>
