<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News and Important Dates</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    <style>
                    /* Create two equal columns that floats next to each other */
                    .column {
                        float: left;
                        width: 50%;
                        padding: 10px;
                        }
                        
                        /* Clear floats after the columns */
                        .row:after {
                            content: "";
                            display: table;
                            clear: both;
                            }
                    </style>
                    <div class="row">
                        <div class="column" >
                            <p><b>Intention to submit</b>: <strike>October 26</strike> <strike>November 1, 2018</strike></p>
                            <p><b>Regular paper submission</b>: <strike>November 2</strike> <strike>November 6, 2018</strike></p>
                            <p><b>Supplemental material deadline</b>: <strike>November 9, 2018</strike></p>
                        </div>
                        <div class="column" ">
                            <p><b>Long abstract submission</b>: <strike>January 11, 2019</strike></p>
                            <p><b>Author notification</b>: <strike>February 1, 2019</strike> <strike>end of February, 2019</strike></p>
                            <p><b>Conference</b>: June 18-19, 2019</p>
                        </div>
                    </div>
                    <!--

                <dl>
                    <dt>Intention to submit:</dt> <dd>October 26, 2018</dd>
                    <dt>Regular paper submission:</dt> <dd>November 2, 2018</dd>
                    <dt>November 2, 2018:</dt> <dd>November 9, 2018</dd>
                    <dt>Long abstract submission:</dt> <dd> January 11, 2019</dd>
                    <dt>Author notification:</dt><dd>February 1, 2019</dd>
                </dl>-->
                </h4>
                <hr>
                <h4>
                    <dl><!-- 
                            <script type="text/javascript">
                              function blink() {
                                var blinks = document.getElementsByTagName('blink');
                                for (var i = blinks.length - 1; i >= 0; i--) {
                                  var s = blinks[i];
                                  s.style.visibility = (s.style.visibility === 'visible') ? 'hidden' : 'visible';
                                }
                                window.setTimeout(blink, 1500);
                              }
                              if (document.addEventListener) document.addEventListener("DOMContentLoaded", blink, false);
                              else if (window.addEventListener) window.addEventListener("load", blink, false);
                              else if (window.attachEvent) window.attachEvent("onload", blink);
                              else window.onload = blink;
                            </script>
                            <blink style="color: black;">Please clear your browser cache, or view this webpage in incognito mode, to ensure you get the latest news and updates.</blink> -->
                            <h3>
                            <strong>Please clear your browser cache, or view this webpage in incognito mode, to ensure you get the latest news and updates.</strong>
                        </h3>
                    </dl>
                    <dl>
                        <dt>March 01, 2019</dt><p><dd>
                            Decision for <b>regular paper submissions</b> announced. Decision emails were sent to corresponding authors via the Microsoft CMT system.
                        </dd></p>

                        <p><dd>As IPCAI 2019 is co-hosted with <a href="https://www.cars2019.org/", target="_blank">The 33rd International Conference of Computer Assisted Radiology and Surgery (CARS)</a>, we ask all participants to register through the <a href="https://www.cars-int.org/cars_2019/registration.html", target="_blank">CARS registration website</a>. Please mind the following:</dd></p>

                        <p>
                            <ul>
                                <li>Regardless of your academic status (student), <b>a presenting author must register as a presenting author</b> at the <a href="https://www.cars-int.org/cars_2019/registration.html", target="_blank">CARS registration website</a>, </li>
                                <ul><li>The deadline for a presenting author is currently set to be <b>March 04, 2019</b>. We are working with CARS organization to extend this deadline.</li>
                                </ul>
                                <li>All other types of participants: Please register by <b>April 25, 2019</b> to receive a discount on registration fees.</li>
                                <li>Under <b>Additional Questions</b>, please select <b>IPCAI</b> as the <i>prefential part of CARS congress</i>,</li>
                                <li>You may request an <b>invitation letter</b> for Visa Application during the registration process.</li>
                            </ul>
                        </p><p>We thank the CAI community for your tremendous interests and support. </p>
                    </dl>
                    <dl>
                        <dt>February 18, 2019</dt><p><dd>
                            Links to Venue and Touristic Information have been <a class="page-scroll" href="#venue">updated</a>.
                        
                        </dd></p>
                        <p><dd>Rennes will be hosting several matches of the FIFA Women's World Cup (June 7-July 7) during IPCAI/CARS 2019. 

                                We therefore highly recommend that you to <a href="https://www.cars2019.org/prepare-your-trip" target="_blank">book accommodations</a> early.</dd></p>
                    </dl>
                    <dl>
                        <dt>February 10, 2019</dt><p><dd>
                            For the first time, IPCAI introduces the forum of <a class="page-scroll" href="#CFPLA">Long Abstracts</a> for the CAI community to showcase scientific breakthroughs and novel ideas. IPCAI 2019 received 25 submissions and, after a careful deliberation, accepted 11 Long Abstracts (in no particular order): </p>
                            
                            <p>
                            <ul>
                                <li>3D Ultrasound Image Guidance System for Focal Liver Tumor Therapies</li>
                                <li>Combining visual cues and interactions for 3D-2D registration in liver laparoscopy</li>
                                <li>EchoBot: An open-source robotic ultrasound system</li>
                                <li>EM navigation of a Raman spectroscopy needle for prostate cancer confirmation: Preliminary ex-vivo study in 3D Slicer</li>
                                <li>Evaluation of head segmentation quality for treatment planning of tumor treating fields in brain tumors</li>
                                <li>Localizing dexterous surgical tools in X-ray for image-based navigation</li>
                                <li>Miniature C-arm Simulator Using Wireless Accelerometer Based Tracking</li>          
                                <li>Novel Instrument Design for Electromagnetic Navigation Bronchoscopy</li>
                                <li>OP 4.1:  A user-centered platform for the operation room of the future</li>
                                <li>Phsychophysiological Data and Computer Vision to Assess Cognitive Load and Team Dynamics in Cardiac Surgery</li>
                                <li>Unity and VTK for VR Medical Image Analysis - an Initial Clinical Evaluation</li>                       
                            </ul></p>
                            <p>We thank the CAI community for your tremendous interests and support. </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>January 10, 2019</dt><p><dd>
                            
                            The deadline for <a class="page-scroll" href="#CFPLA">IPCAI Long Abstracts</a> is approaching:</p>
                            <p>
                            <ul>
                                <li>The direct link to IPCAI Long Abstracts CMT submission site is <a href="https://cmt3.research.microsoft.com/IPCAILA2019" style="color: rgb(0,255,0)" target="_blank" >HERE</a>,</li>
                                <li>Please mind the <a class="page-scroll" href="#CFPLA">formatting instruction</a>. In particular, <b>no short abstract is needed</b> for the 4-pages Long Abstract,</li>
                                <li>Each Long Abstract can be accompanied by a <b>(1)</b> supplemental video. The supplemental video must be uploaded to the <a href="https://cmt3.research.microsoft.com/IPCAILA2019" style="color: rgb(0,255,0)" target="_blank">submission website </a> in a separate <b>.zip</b> file.</li>
                            </ul></p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>December 20, 2018</dt><p><dd><a class="page-scroll" href="#LAFAQ">FAQ</a> for Long Abstracts updated.</dd></p>
                    </dl>
                    <dl>
                        <dt>November 27, 2018</dt><p><dd>Call For Paper (CFP) for Long Abstract announced. Details <a class="page-scroll" href="#CFPLA">HERE</a>. Frequently Asked Questions (FAQ)  <a class="page-scroll" href="#LAFAQ">HERE</a>.</dd></p>
                    </dl>
                    <dl>
                        <dt>October 29, 2018</dt><p><dd>Deadline for <strong>Regular paper submission</strong> has been extended to November 6, 2018.</dd></p>
                    </dl>
                    <dl>
                        <dt>October 26, 2018</dt><p><dd>Deadline for <strong>Intention to submit</strong> has been extended to November 1, 2018. For the purpose of <strong>Intention to submit</strong>, please make sure the following are entered into the CMT submission system:</p>
                            <p>
                        <ul>
                            <li>Complete list of authors,</li>
                            <li>Complete list of domains of conflict, and</li>
                            <li>Complete abstract.</li>
                        </ul></p>
                        <p>
                        The abstract can be modified, if needed, at the time of the full paper submission.</dd></p>
                    </dl>
                    <dl>
                        <dt>October 15, 2018:</dt><p><dd>List of Area Chairs (ACs) can be found <a class="page-scroll" href="#committees">HERE</a>.</dd></p>
                    </dl>
                    <dl>
                        <dt>September 22, 2018:</dt><p><dd>First Call for Papers (CFP) announced.  Details <a class="page-scroll" href="#CFP">HERE</a>. PDF version can be found <a href="pdf\First_Call_for_Papers.pdf" target="_blank">HERE</a>.</dd></p>
                    </dl>
                    <dl>
                        <dt>September 24, 2018:</dt><p><dd>Submission instruction for <b>long abstract</b> announced. Details <a class="page-scroll" href="#submission">HERE</a>.</dd></p>
                    </dl>
                </h4>
            </div>
        </div>
    </div>

</section>