<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">News and Important Dates</h2>
                <hr class="light">
		
				<a href="#CFP" class="btn btn-primary btn-xl page-scroll">Call for Papers</a></br></br></br></br>
		
				<table style="width:100%">
							<tr>
								<td align="center"><p class="font_8"><span class="color_12"><strike>28 October 2020:</strike> </br> 5 November 2020:</br> <small>(23:59 <strike>CEST (UTC+1)</strike> <b>PST</b>)</small></span></p></td>
								<td align="center"><p class="font_8"><span class="color_12">
								<a href="#submission" class="page-scroll">Regular Paper submission deadline</br><small>(see updated submission info)</small></a></span></p></td>
							</tr>
							<tr>
								<td align="center"><p class="font_8"><span class="color_12">13 January 2021: </br><small>(23:59 CEST (UTC+1))</small></span></p></td>
								<td align="center"><p class="font_8"><span class="color_12">Long Abstract submission deadline</span></p></td>
							</tr>
							<tr>
								<td align="center"><p class="font_8"><span class="color_12">3 March 2021:</span></p></td>
								<td align="center"><p class="font_8"><span class="color_12">Notification of decisions</span></p></td>
							</tr>
							<tr>
								<td align="center"><p class="font_8"><span class="color_12">22-23 June 2021:</span></p></td>
								<td align="center"><p class="font_8"><span class="color_12">IPCAI 2021</span></p></td>
							</tr>
				</table><br><br>
							
				<p class="text-center">You can also follow the IPCAI news on Twitter: <a href="https://twitter.com/IPCAI_conf" target="_blank">@IPCAI_conf</a>
				</p>
				
            </div>
        </div>
    </div>
    
</section>
