<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News and Important Dates</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    <style>
                    /* Create two equal columns that floats next to each other */
                    .column {
                        float: left;
                        width: 50%;
                        padding: 10px;
                        }
                        
                        /* Clear floats after the columns */
                        .row:after {
                            content: "";
                            display: table;
                            clear: both;
                            }
                    </style>
                    <div class="row">
                        <div class="column" >
                            <p><b>Intention to submit</b>: <strike>October 26</strike> November 1, 2018</p>
                            <p><b>Regular paper submission</b>: November 2, 2018</p>
                            <p><b>Supplemental material deadline</b>: November 9, 2018</p>
                        </div>
                        <div class="column" ">
                            <p><b>Long abstract submission</b>: January 11, 2019</p>
                            <p><b>Author notification</b>: February 1, 2019</p>
                            <p><b>Conference</b>: June 18-19, 2019</p>
                        </div>
                    </div>
                    <!--

                <dl>
                    <dt>Intention to submit:</dt> <dd>October 26, 2018</dd>
                    <dt>Regular paper submission:</dt> <dd>November 2, 2018</dd>
                    <dt>November 2, 2018:</dt> <dd>November 9, 2018</dd>
                    <dt>Long abstract submission:</dt> <dd> January 11, 2019</dd>
                    <dt>Author notification:</dt><dd>February 1, 2019</dd>
                </dl>-->
                </h4>
                <hr>
                <h4>
                    <dl>
                        <dt>October 26, 2018</dt><dd>Deadline for <strong>Intention to submit</strong> has been extended to November 1, 2018. For the purpose of <strong>Intention to submit</strong>, please make sure the following are entered into the CMT submission system:
                        <ul>
                            <li>Complete list of authors,</li>
                            <li>Complete list of domains of conflict, and</li>
                            <li>Complete abstract.</li>
                        </ul>
                        The abstract can be modified, if needed, at the time of the full paper submission.</dd>
                    </dl>
                    <dl>
                        <dt>October 15, 2018:</dt> <dd>List of Area Chairs (ACs) can be found <a class="page-scroll" href="#committees">HERE</a>.</dd>
                    </dl>
                    <dl>
                        <dt>September 22, 2018:</dt> <dd>First Call for Papers (CFP) announced.  Details <a class="page-scroll" href="#CFP">HERE</a>. PDF version can be found <a href="pdf\First_Call_for_Papers.pdf" target="_blank">HERE</a>.</dd>
                    </dl>
                    <dl>
                        <dt>September 24, 2018:</dt> <dd>Submission instruction for <b>long abstract</b> announced. Details <a class="page-scroll" href="#submission">HERE</a>.</dd>
                    </dl>
                </h4>
            </div>
        </div>
    </div>

</section>