<section id="past">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Past Conferences</h2>
                <hr class="light">
				<a href="https://ilkerhac.wixsite.com/ipcai2020/" target="_blank">IPCAI 2020, Virtual (planned: Munich, Germany)</a></br>
				<a href="https://ipcai2019.github.io/" target="_blank">IPCAI 2019, Rennes, France</a></br>
				<a href="https://www.ipcai2018.org" target="_blank">IPCAI 2018, Berlin, Germany</a></br>
				<a href="http://camma.u-strasbg.fr/ipcai2017/" target="_blank">IPCAI 2017, Barcelona, Spain</a></br>
				<a href="http://www.sintef.no/projectweb/ipcai2016/" target="_blank">IPCAI 2016, Heidelberg, Germany</a></br>
				<a href="http://research.cs.queensu.ca/home/IPCAI2015/#home" target="_blank">IPCAI 2015, Barcelona, Spain</a></br>
				<a href="http://www0.cs.ucl.ac.uk/staff/Dan.Stoyanov/ipcai2014/#home" target="_blank">IPCAI 2014, Fukuoka, Japan</a></br>
				<a href="http://campar.in.tum.de/IPCAI2013/WebHome" target="_blank">IPCAI 2013, Heidelberg, Germany</a></br>
				<a href="http://campar.in.tum.de/view/IPCAI2012" target="_blank">IPCAI 2012, Pisa, Italy</a></br>
				<a href="http://campar.in.tum.de/view/IPCAI2011" target="_blank">IPCAI 2011, Berlin, Germany</a></br>
				<a href="http://campar.in.tum.de/view/IPCAI2011" target="_blank">IPCAI 2010, Geneva, Switzerland</a></br>
            </div>
        </div>
    </div>
</section>