<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Program</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
        
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Download the Final Program <a href="pdf\IPCAI_Program_Final.pdf" target="_blank">HERE</a>.
                </p>
            </div>
            <div class="col-lg-12">
                <h2>June 18, 2019</h2>
                <h3>
                    <ul>
                    <li>08:30 - Opening for IPCAI 2019</li>
                    <li>08:40 - Short Podium Presentation</li>
                    <li>10:00 - Coffee Break</li>
                    <li>10:30 - Short Podium Presentation</li>
                    <li>12:00 - Lunch and Poster Session</li>
                    <li>13:30 - Short Podium Presentation</li>
                    <li>15:00 - IPCAI Award I</li>
                    <li>15:30 - Coffee Break and Poster Session</li>
                    <li>17:30 - CARS Opening Ceremony/li>
                    </ul>
                </h3>
            </div>

            <div class="col-lg-12">
                <h2>June 19, 2019</h2>
                <h3>
                    <ul>
                    <li>08:00 - Selected Long Podium Presentation 1</li>
                    <li>10:00 - Coffee Break</li>
                    <li>10:30 - Selected Long Podium Presentation 2</li>
                    <li>12:30 - Lunch and Poster Session</li>
                    <li>13:30 - Long Abstract Presentation</li>
                    <li>14:30 - Plenary Discussion</li>
                    <li>15:00 - IPCAI Award II and Closing</li>
                    <li>15:30 - Coffee Break and Poster Session</li>
                    </ul>
                </h3>
            </div>
        </div>
    </div>

</section>
