<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Program Overview (Preliminary)</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
        
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <p>
                    <!--Download the Final Program <a href="pdf\IPCAI_Program_Final.pdf" target="_blank">HERE</a>.-->
					<!--Here you can find the preliminary program of the conference:-->
                </p>
            </div>
			
            <div class="col-lg-8 col-lg-offset-2 text-left">
				<p class="font_8" style="font-size:18px"><span style="font-size:22px">
					<b>June 22nd (CEST)</b>
					<table style="width:100%">
							<tr>
								<td><p class="font_8"><span class="color_12">15:00 - 15:15</span></p></td>
								<td><p class="font_8"><span class="color_12">Welcome</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">15:15 - 15:45</span></p></td>
								<td><p class="font_8"><span class="color_12">S1: Machine Learning in Surgical Data Science</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">15:45 - 16:15</span></p></td>
								<td><p class="font_8"><span class="color_12">S2: Imaging</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">16:15 - 16:45</span></p></td>
								<td><p class="font_8"><span class="color_12">S3: Interventional Planning</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">16:45 - 17:30</span></p></td>
								<td><p class="font_8"><span class="color_12">Break and Posters (S1-3)</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">17:30 - 18:10</span></p></td>
								<td><p class="font_8"><span class="color_12">S4: Machine Learning in Ultrasound</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">18:10 - 18:50</span></p></td>
								<td><p class="font_8"><span class="color_12">S5: Prostate Interventions</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">18:50 - 19:30</span></p></td>
								<td><p class="font_8"><span class="color_12">Break and Posters (S4-5)</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">19:30 - 20:30</span></p></td>
								<td><p class="font_8"><span class="color_12">Panel discussion</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">20:30 - 21:15</span></p></td>
								<td><p class="font_8"><span class="color_12">Meet & Greet</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">21:15</span></p></td>
								<td><p class="font_8"><span class="color_12">Open-ended Social Event</span></p></td>
							</tr>
					</table><br><br>
			
				</span></p>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-left">
				<p class="font_8" style="font-size:18px"><span style="font-size:22px">
				<b>June 23rd (CEST)</b>
					<table style="width:100%">
							<tr>
								<td><p class="font_8"><span class="color_12">15:00 - 15:45</span></p></td>
								<td><p class="font_8"><span class="color_12">Long Abstracts</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">15:45 - 16:15</span></p></td>
								<td><p class="font_8"><span class="color_12">Break and Posters (LAs)</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">16:15 - 16:55</span></p></td>
								<td><p class="font_8"><span class="color_12">S6: Machine Learning in CAI</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">16:55 - 17:35</span></p></td>
								<td><p class="font_8"><span class="color_12">S7: Surgical Robotics</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">18:35 - 18:15</span></p></td>
								<td><p class="font_8"><span class="color_12">Break and Posters (S6-7)</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">18:15 - 18:45</span></p></td>
								<td><p class="font_8"><span class="color_12">S8: Training and Simulation</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">18:45 - 19:35</span></p></td>
								<td><p class="font_8"><span class="color_12">S9: Tracking and Localization</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">19:35 - 20:15</span></p></td>
								<td><p class="font_8"><span class="color_12">Break and Posters (S8-9)</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">20:15 - 21:00</span></p></td>
								<td><p class="font_8"><span class="color_12">Awards and Closing</span></p></td>
							</tr>
							<tr>
								<td><p class="font_8"><span class="color_12">21:00</span></p></td>
								<td><p class="font_8"><span class="color_12">Post-IPCAI Social Event</span></p></td>
							</tr>
					</table><br><br>
				</span></p>
            </div>	
			
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<a href="#program" class="btn btn-primary btn-xl page-scroll">Back to top</a></br></br></br></br>
			</div>
		</div>
		
    </div>
	
	
			
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Full Program (Preliminary)</h2>
                <hr class="primary">
            </div>
        </div>
    </div>	
	<div class="container">
        <div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-left">
				
				<p class="font_8 text-center" style="font-size:18px"><span style="font-size:26px"><b>June 22nd</b></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>15:00 Welcome</b></p>
			
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>15:15 Session S1: Machine Learning in Surgical Data Science</b></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Simulation-to-Real domain adaptation with teacher-student learning for endoscopic instrument segmentation</span><br/>
				<span style="font-size:14px">Manish Sahu<sup>1*</sup>, Anirban Mukhopadhyay<sup>2</sup>, Stefan Zachow<sup>1</sup><br/>
				<sup>1</sup>Zuse Institute Berlin (DE);  <sup>2</sup>Technical University of Darmstadt (DE). &nbsp; [#04]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Multi-Task Temporal Convolutional Networks for Joint Recognition of Surgical Phases and Steps in Gastric Bypass Procedures</span><br/>
				<span style="font-size:14px">Sanat Ramesh<sup>1*</sup>, Diego Dall'Alba<sup>1</sup>, Cristians Gonzalez<sup>2</sup>, Tong Yu<sup>3</sup>, Pietro Mascagni <sup>4</sup>, Didier Mutter <sup>5,6,3</sup>, Jacques Marescaux <sup>6</sup>, Paolo Fiorini, Nicolas Padoy <sup>3</sup><br/>
				<sup>1</sup>University of Verona (IT);  <sup>2</sup>IHU de Strasbourg (FR);  <sup>3</sup>University of Strasbourg (FR); <sup>4</sup>Fondazione Policlinico Universitario Agostino Gemelli IRCCS (Rome, IT); <sup>5</sup>University Hospital of Strasbourg (FR); <sup>6</sup>IRCAD (Strasbourg, FR). &nbsp; [#26]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Domain Adaptation and Self-Supervised Learning for Surgical Margin Detection</span><br/>
				<span style="font-size:14px">Alice ML Santilli<sup>1*</sup>, Amoon Jamzad<sup>1</sup>, Alireza Sedghi<sup>1</sup>, Martin Kaufmann<sup>1</sup>, Kathryn Logan<sup>1</sup>, Julie Wallis<sup>1</sup>, Kevin Yi Mi Ren<sup>1</sup>, Natasja Janssen<sup>1</sup>, Shaila Merchant<sup>1</sup>, Jay Engel<sup>1</sup>, Doug McKay<sup>1</sup>, Sonal Varma<sup>1</sup>, Ami Wang<sup>1</sup>, Gabor Fichtinger <sup>1</sup>, John Rudan<sup>1</sup>, Parvin Mousavi<sup>1</sup><br/>
				<sup>1</sup>Queen's University (Kingston, CA). &nbsp; [#33]</span></p>
								
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>15:45 Session S2: Imaging</b></p>
				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Metabolomics Patterns of Breast Cancer Tumors Using Mass Spectrometry Imaging</span><br/>
				<span style="font-size:14px">Rachel Theriault<sup>1</sup>, Martin Kaufmann<sup>1</sup>, Kevin Yi Mi Ren<sup>1</sup>, Sonal Varma<sup>1</sup>, Randy E Ellis<sup>1*</sup><br/>
				<sup>1</sup>Queen's University (Kingston, CA). &nbsp; [#08]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Tattoo tomography: Freehand 3D photoacoustic image reconstruction with an optical pattern</span><br/>
				<span style="font-size:14px">Niklas Holzwarth<sup>1*</sup>, Melanie Schellenberg<sup>1</sup>, Janek Groehl, Kris Dreher<sup>1</sup>, Jan-Hinrich Nölke<sup>1</sup>, Alexander Seitel<sup>1</sup>, Minu Dietlinde Tizabi<sup>1</sup>, Beat Peter Müller<sup>2</sup>, Lena Maier-Hein<sup>1</sup><br/>
				<sup>1</sup>German Cancer Research Center (Heidelberg, DE);  <sup>2</sup>University Hospital Heidelberg (DE). &nbsp; [#32]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Speed-of-Sound Imaging using Diverging Waves</span><br/>
				<span style="font-size:14px">Richard Rau<sup>1*</sup>, Dieter Schweizer<sup>1</sup>, Valery Vishnevskiy<sup>1</sup>,  Orcun Goksel<sup>2</sup><br/>
				<sup>1</sup>ETH Zurich (CH);  <sup>2</sup>Uppsala University (SE). &nbsp; [#37]</span></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>16:15 Session S3: Interventional Planning</b></p>
				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Automatic Cortical Target Point Localisation in MRI for Transcranial Magnetic Stimulation via a Multi-Resolution Convolutional Neural Network</span><br/>
				<span style="font-size:14px">John SH Baxter<sup>1*</sup>, Ehouarn Maguet<sup>1</sup>, Quoc Anh Bui<sup>1</sup>, Stéphane Croci<sup>2</sup>, Antoine Delmas<sup>2</sup>, Jean-Pascal Lefaucheur<sup>3</sup>, Luc Bredoux<sup>2</sup>, Pierre Jannin<sup>1</sup><br/>
				<sup>1</sup>Université de Rennes 1 (FR);  <sup>2</sup>SYNEIKA (Rennes, FR);  <sup>3</sup>Paris Est Créteil University (FR). &nbsp; [#13]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Automatic Identification of Sweet Spots from MERs for Electrodes Implantation in STN-DBS</span><br/>
				<span style="font-size:14px">Linxia Xiao<sup>1</sup>, Caizi Li<sup>2</sup>, Yanjiang Wang<sup>1</sup>, Weixin Si<sup>2*</sup>, Doudou Zhang<sup>3</sup>, Hai Lin<sup>3</sup>, Xiaodong Cai<sup>3</sup>, Pheng-Ann Heng<sup>4</sup><br/>
				<sup>1</sup>College of Control science and Engineering, China University of Petroleum (CN);  <sup>2</sup>Shenzhen Institute of Advanced Technology,Chinese Academy of Sciences (CN); <sup>3</sup>Department of Neurosurgery, Shenzhen Second People’s Hospital, the First Affiliated Hospital of Shenzhen University (CN); <sup>4</sup>The Chinese Univsersity of Hong Kong (CN). &nbsp; [#15]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Patient-specific Prediction of SEEG Electrode Bending for Stereotactic Neurosurgical Planning</span><br/>
				<span style="font-size:14px">Alejandro Granados<sup>1*</sup>, Yuxuan Han<sup>1</sup>, Oeslle Lucena<sup>1</sup>, Vejay Vakharia<sup>2</sup>, Roman Rodionov<sup>3</sup>, Sjoerd B. Vos<sup>3</sup>, Anna Miserocchi<sup>2</sup>, Andrew W. McEvoy<sup>2</sup>, John Duncan<sup>3</sup>, Rachel Sparks<sup>1</sup>, Sebastien Ourselin<sup>1</sup><br/>
				<sup>1</sup>King's College London (UK);  <sup>2</sup>National Hospital of Neurology and Neurosurgery, London (UK);  <sup>3</sup>UCL (UK). &nbsp; [#30]</span></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>16:45 Breaks and Posters (S1-3)</b></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>17:30 Session S4: Machine Learning in Ultrasound</b></p>
				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Time-Aware Deep Neural Networks for Needle Tip Localization in 2D Ultrasound</span><br/>
				<span style="font-size:14px">Cosmas Mwikirize<sup>1*</sup>, Ilker Hacihaliloglu<sup>1</sup>, John L Nosher<sup>1</sup>, Andrew Katumba<sup>2</sup>, Sylvia Imanirakiza<sup>2</sup>, Alvin Kimbowa<sup>2</sup><br/>
				<sup>1</sup>Rutgers, The State University of New Jersey (US); <sup>2</sup>Makerere University (Kampala, UG). &nbsp; [#14]</span></p>


				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Vessel Segmentation for Automatic Registration of Untracked Laparoscopic Ultrasound to CT of the Liver</span><br/>
				<span style="font-size:14px">Nina Montaña Brown<sup>1*</sup>, João Ramalhinho<sup>1</sup>, Moustafa Allam<sup>1</sup>, Brian Davidson<sup>1</sup>, Yipeng Hu<sup>1</sup>, Matthew J Clarkson<sup>1</sup><br/>
				<sup>1</sup>University College London (UK). &nbsp; [#23]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Learning Ultrasound Rendering from Cross-Sectional Model Slices for Simulated Training</span><br/>
				<span style="font-size:14px">Lin Zhang<sup>1*</sup>, Tiziano Portenier<sup>1</sup>, Orcun Goksel<sup>2</sup><br/>
				<sup>1</sup>ETH Zurich (CH);  <sup>2</sup>Uppsala University (SE). &nbsp; [#24]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Leveraging Voxel-wise Segmentation Uncertainty to Improve Reliability in Assessment of Paediatric Dysplasia of the Hip</span><br/>
				<span style="font-size:14px">Arunkumar Kannan<sup>1*</sup>, Antony J Hodgson<sup>1</sup>, Kishore Mulpuri<sup>2</sup>, Rafeef Abugharbieh<sup>1</sup><br/>
				<sup>1</sup>University of British Columbia(Vancouver, CA);  <sup>2</sup>British Columbia Children's Hospital (Vancouver, CA). &nbsp; [#51]</span></p>

				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>18:10 Session S5: Prostate Interventions</b></p>
				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Towards Targeted Ultrasound-guided Prostate Biopsy by Incorporating Model and Label Uncertainty in Cancer Detection</span><br/>
				<span style="font-size:14px">Golara Javadi<sup>1*</sup>, Sharareh Bayat<sup>1</sup>, Samareh Samadi<sup>1</sup>, Alireza Sedghi<sup>2</sup>, Samira Sojoudi<sup>1</sup>, Antonio Hurtado-coll<sup>3</sup>, Silvia Chang<sup>4</sup>, Peter Black<sup>3</sup>, Parvin Mousavi<sup>2</sup>, Purang Abolmaesumi<sup>1</sup><br/>
				<sup>1</sup>University of British Columbia (Vancouver, CA);  <sup>2</sup>Queen's University (Kingston, CA); <sup>3</sup>VGH (Vancouver, CA); <sup>4</sup>VCH (Vancouver, CA). &nbsp; [#17]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Preclinical Evaluation of a Marker-less, Real-time, Augmented Reality Guidance System for Robot Assisted Radical Prostatectomy</span><br/>
				<span style="font-size:14px">Megha Kalia<sup>1*</sup>, Apeksha Avinash<sup>1</sup>, Nassir Navab<sup>2</sup>, Septimiu Salcudean<sup>1</sup><br/>
				<sup>1</sup>University of British Columbia (Vancouver, CA);  <sup>2</sup>TU Munich (DE). &nbsp; [#40]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Centre-specific autonomous treatment plans for prostate brachytherapy using cGANs</span><br/>
				<span style="font-size:14px">Tajwar A Aleef<sup>1*</sup>, Ingrid Spadinger<sup>2</sup>, Michael Peacock<sup>2</sup>, Septimiu Salcudean<sup>1</sup>, Sara Mahdavi<sup>2</sup><br/>
				<sup>1</sup>University of British Columbia (Vancouver, CA);  <sup>2</sup>BC Cancer Agency (CA). &nbsp; [#43]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">An Office-Based MR System for Prostate Biopsy</span><br/>
				<span style="font-size:14px">Selin Chiragzada<sup>1*</sup>, Eva Hellman<sup>1</sup>, Duncan Michael<sup>1</sup>, Ram Narayanan<sup>1</sup>, Aleksandar Nacev<sup>1</sup>, Dinesh Kumar<sup>1</sup><br/>
				<sup>1</sup>Promaxo (Oakland, CA). &nbsp; [#48]</span></p>
								
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>18:50 Breaks and Posters (S4-5)</b></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>19:30 Panel Discussion</b></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>20:30 Meet & Greet</b></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>21:15 Open-ended Social Event</b></p>
				
			</div>
			
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<a href="#program" class="btn btn-primary btn-xl page-scroll">Back to top</a></br></br></br></br>
			</div>
			
			<div class="col-lg-8 col-lg-offset-2 text-left">
				
				<p class="font_8 text-center" style="font-size:18px"><span style="font-size:26px"><b>June 23rd</b></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>15:00 Long Abstract Session</b></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Pose optimization of X-ray protective shields for staff radiation exposure minimization</span><br/>
				<span style="font-size:14px">Alexandre Krebs<sup>1*</sup>, Cindy Rolland<sup>1</sup>, Juan JMV Verde<sup>2</sup>, Nicolas Padoy<sup>3</sup><br/>
				<sup>1</sup>Icube (FR);  <sup>2</sup>IHU Strasbourg (FR); <sup>3</sup>University of Strasbourg (FR). &nbsp; [#53]</span></p>


				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Superpixel Tracking: Configurable Polynomial-Time Semantic Segmentation for Endoscope Video</span><br/>
				<span style="font-size:14px">W.-Y. Hong<sup>1</sup>, Chi-Sheng Shih<sup>1*</sup><br/>
				<sup>1</sup>National Taiwan University (Taipei, TW). &nbsp; [#54]</span></p>


				<p class="font_8" style="font-size:18px"><span style="font-size:22px">CholecSeg8k: A Semantic Segmentation Dataset for Laparoscopic Cholecystectomy Based on Cholec80</span><br/>
				<span style="font-size:14px">W.-Y. Hong<sup>1</sup>, C.-L. Kao<sup>1</sup>, Y.-H. Kuo<sup>1</sup>, J.-R. Wang<sup>1</sup>, W.-L. Chang<sup>1</sup>, Chi-Sheng Shih<sup>1*</sup><br/>
				<sup>1</sup>National Taiwan University (Taipei, TW). &nbsp; [#55]</span></p>


				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Colonoscopic 3D Reconstruction by Tubular Non-Rigid Structure-from-Motion</span><br/>
				<span style="font-size:14px">Agniva Sengupta<sup>1*</sup>, Adrien Bartoli<sup>2</sup><br/>
				<sup>1</sup>INRIA (FR);  <sup>2</sup>Université Clermont Auvergne (FR). &nbsp; [#56]</span></p>


				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Learning 3D Medical Image Patch Descriptors with Triplet Loss</span><br/>
				<span style="font-size:14px">Nicolas Loiseau--Witon<sup>1</sup>, Razmig Kechichian<sup>1</sup>, Sebastien Valette<sup>1*</sup>, Adrien Bartoli<sup>2</sup><br/>
				<sup>1</sup>CREATIS (FR);  <sup>2</sup>Université Clermont Auvergne (FR). &nbsp; [#57]</span></p>


				<p class="font_8" style="font-size:18px"><span style="font-size:22px">SlicerAutoscoperM: Multi-modal Tracking of Skeletal Structures and Implants</span><br/>
				<span style="font-size:14px">Bardiya Akhbari<sup>1*</sup>, Amy Morton<sup>1</sup>, Lauren Welte<sup>2</sup>, Jillian Beveridge<sup>3</sup>, Jean-Christophe Fillion-Robin<sup>4</sup>, Michael Rainbow<sup>2</sup>, Beatriz Paniagua<sup>4</sup>, Joseph Crisco<sup>1</sup><br/>
				<sup>1</sup>Brown University (Providence, US);  <sup>2</sup>Queen's University (Kingston, CA); <sup>3</sup>Cleveland Clinic (US); <sup>4</sup>Kitware (US). &nbsp; [#59]</span></p>


				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Automation of Internal Limiting Membrane Peeling Task with Deep Reinforcement Learning</span><br/>
				<span style="font-size:14px">Mikinori Kanehara<sup>1*</sup>, Saul Alexis Heredia Perez<sup>1</sup>, Seiji Omata<sup>2</sup>, Fumihito Arai<sup>1</sup>, Koichiro Sugimoto<sup>3</sup>, Fumiyuki Araki<sup>3</sup>, Kiyohito Totsuka<sup>3</sup>, Tomoyasu Shiraya<sup>3</sup>, Takashi Ueta<sup>3</sup>, Muneyuki Takao<sup>3</sup>, Kanako Harada<sup>1</sup>, Mamoru Mitsuishi<sup>1</sup><br/>
				<sup>1</sup>The University of Tokyo (JP);  <sup>2</sup>Kumamoto University (JP); <sup>3</sup>The University of Tokyo Hospital (JP). &nbsp; [#62]</span></p>


				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Image Recognition Applied to a Robotic Platform for Mouse Dissection</span><br/>
				<span style="font-size:14px">Taketo Inoue<sup>1*</sup>, Mamoru Mituishi<sup>1</sup>, Kanako Harada<sup>1</sup><br/>
				<sup>1</sup>The University of Tokyo (JP). &nbsp; [#63]</span></p>

				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>15:45 Breaks and Posters (Long Abstracts)</b></p>
			
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>16:15 Session S6: Machine Learning in Computer Assisted Interventions</b></p>
				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Deep Learning to Segment Pelvic Bones: Large-scale CT Datasets and Baseline Models</span><br/>
				<span style="font-size:14px">Pengbo Liu<sup>1</sup>, Hu Han<sup>1</sup>, Yuanqi Du<sup>2</sup>, Heqin Zhu<sup>1</sup>, Yinhao Li<sup>1</sup>, Feng Gu<sup>3</sup>, Honghu Xiao<sup>4</sup>, Jun Li<sup>5</sup>, Chunpeng Zhao<sup>4</sup>, Li Xiao<sup>1</sup>, Xinbao Wu<sup>4</sup>, S. Kevin Zhou<sup>1*</sup><br/>
				<sup>1</sup>Institute of Computing Technology, Chinese Academy of Sciences (Beijing, CN);  <sup>2</sup>George Mason University (Virginia, US); <sup>3</sup>Beijing Electronics Science&Technology Institute (CN); <sup>4</sup>Beijing Jishuitan Hospital (CN); <sup>5</sup>University Of Science And Technology Of China (Hefei, CN). &nbsp; [#07]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Against Spatial-Temporal Discrepancy: Contrastive Learning based Network for Surgical Workflow Recognition</span><br/>
				<span style="font-size:14px">Fucang Jia<sup>1*</sup>, Tong Xia<sup>1</sup><br/>
				<sup>1</sup>Shenzhen Institutes of Advanced Technology, Chinese Academy of Sciences (CN). &nbsp; [#28]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Real-to-Virtual Domain Transfer-based Depth Estimation for Real-time 3D Annotation in Transnasal Surgery: A Study of Annotation Accuracy and Stability</span><br/>
				<span style="font-size:14px">Hon Sing Tong<sup>1*</sup>, Yui Lun Ng<sup>1</sup>, Zhiyu Liu<sup>1</sup>, Justin D.L. Ho<sup>1</sup>, Catherine Chan<sup>2</sup>, Jason Y. K. Chan<sup>3</sup>, Ka-Wai Kwok<sup>1</sup><br/>
				<sup>1</sup>The University of Hong Kong (CN);  <sup>2</sup>Imperial College London (UK); <sup>3</sup>The Chinese University of Hong Kong (CN). &nbsp; [#41]</span></p>


				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Computer-assisted contralateral side comparison using flat panel technology</span><br/>
				<span style="font-size:14px">Sarina Thomas<sup>1*</sup>, Lisa Kausch<sup>1</sup>, Holger Kunze<sup>2</sup>, Maxim Privalov<sup>3</sup>, Andre Klein<sup>1</sup>, Jan Siad El Barbari<sup>3</sup>, Celia Martin Vicario<sup>4</sup>, Jochen Franke<sup>3</sup>, Klaus H. Maier-Hein<sup>1</sup><br/>
				<sup>1</sup>German Cancer Research Center (Heidelberg, DE);  <sup>2</sup>Siemens Healthineers (DE); <sup>3</sup>Department for Trauma and Orthopaedic Surgery, BG Trauma Center Ludwigshafen (DE); <sup>4</sup>Friedrich-Alexander-Universität Erlangen-Nürnberg (DE). &nbsp; [#42]</span></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>16:55 Session S7: Surgical Robotics</b></p>
				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Cross-modal self-supervised representation learning for gesture and skill recognition in robotic surgery</span><br/>
				<span style="font-size:14px">Jie Ying Wu<sup>1*</sup>, Aniruddha Tamhane<sup>1</sup>, Peter Kazanzides<sup>1</sup>, Mathias Unberath<sup>1</sup><br/>
				<sup>1</sup>Johns Hopkins University (Baltimore, US). &nbsp; [#21]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Autonomous Pick-And-Place Using the dVRK</span><br/>
				<span style="font-size:14px">Claudia D'Ettorre<sup>1*</sup>, Agostino Stilli<sup>1</sup>, George Dwyeer<sup>1</sup>, Maxine Tran<sup>1</sup>, Danail Stoyanov<sup>1</sup><br/>
				<sup>1</sup>University College London (UK). &nbsp; [#35]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">An Intuitive Surgical Handle Design for Robotic Neurosurgery</span><br/>
				<span style="font-size:14px">Emmanouil Dimitrakakis<sup>1*</sup>, Lukas Lindenroth<sup>1</sup>, George Dwyeer<sup>1</sup>, Holly Aylmore<sup>1</sup>, Neil Dorward<sup>2</sup>, Hani Marcus<sup>2</sup>, Danail Stoyanov<sup>1</sup><br/>
				<sup>1</sup>University College London (UK);  <sup>2</sup>National Hospital for Neurology and Neurosurgery (London, UK). &nbsp; [#44]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Mask then Classify: Multi-Instance Segmentation for Surgical Instruments</span><br/>
				<span style="font-size:14px">Thomas Kurmann<sup>1*</sup>, Pablo Márquez Neila<sup>1</sup>, Maximilian Allan<sup>2</sup>, Sebastian Wolf<sup>3</sup>, Raphael Sznitman<sup>1</sup><br/>
				<sup>1</sup>University of Bern (CH);  <sup>2</sup>Intuitive Surgical (US); <sup>3</sup>University Hospital of Bern (CH). &nbsp; [#49]</span></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>17:35 Breaks and Posters (S6-7)</b></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>18:15 Session S8: Training and Simulation</b></p>
				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Comparison of Augmented Reality-based and Conventional Training for ECMO Cannulation</span><br/>
				<span style="font-size:14px">Julian Wolf<sup>1*</sup>, Viviane Wolfer<sup>1</sup>, Maximilian Halbe<sup>2</sup>, Francesco Maisano<sup>3</sup>, Lohmeyer Quentin<sup>1</sup>, Mirko Mebolt<sup>1</sup><br/>
				<sup>1</sup>ETH Zurich (CH);  <sup>2</sup>University Hospital Zurich (CH); <sup>3</sup>University of Zurich (CH). &nbsp; [#12]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Automatic extraction of the mitral valve chordae geometry for biomechanical simulation</span><br/>
				<span style="font-size:14px">Daryna Panicheva<sup>1,2*</sup>, Pierre-Frederic Villard<sup>2</sup>, Peter Hammer<sup>3</sup>, Douglas Perrin<sup>4</sup>, Marie-Odile Berger<sup>1</sup><br/>
				<sup>1</sup>Inria (FR);  <sup>2</sup>LORIA (FR); <sup>3</sup>Harvard School of Engineering and Applied Sciences (US); <sup>4</sup>Harvard Medical School (US). &nbsp; [#18]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Automatic Triangulated Mesh Generation of Pulmonary Airways from 3DCTs for Computational Fluid Dynamics</span><br/>
				<span style="font-size:14px">Michael Lauria<sup>1*</sup>, Kamal Singhrao<sup>1</sup>, Brad Stiehl<sup>1</sup>, Daniel Low<sup>1</sup>, Jonathan Goldin<sup>1</sup>, Igor Barjaktarevic<sup>1</sup>, Anand P Santhanam<sup>1</sup><br/>
				<sup>1</sup>UCLA (US). &nbsp; [#19]</span></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>18:45 Session 9: Tracking and Localization</b></p>
				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Predictive online 3D target tracking with population-based generative networks for image-guided radiotherapy</span><br/>
				<span style="font-size:14px">Liset Vazquez Romaguera<sup>1*</sup>, Tal Mezheritsky<sup>1</sup>, William Tanguay<sup>2</sup>, Samuel Kadoury<sup>1</sup><br/>
				<sup>1</sup>École Polytechnique de Montreal (CA);  <sup>2</sup>Faculty of Medicine, University of Montreal (CA). &nbsp; [#02]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">CycleGAN for Interpretable Online EMT Compensation</span><br/>
				<span style="font-size:14px">Henry J Krumb<sup>1*</sup>, Dhritimaan Das<sup>2</sup>, Romol Chadda<sup>1</sup>, Anirban Mukhopadhyay<sup>1</sup><br/>
				<sup>1</sup>TU Darmstadt (DE); <sup>2</sup>Indian Institute of Technology (IIT-BHU), Varanasi (IN). &nbsp; [#09]</span></p>

				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Monocular Markerless Tool-in-Hand-Tracking for Surgery</span><br/>
				<span style="font-size:14px">Jonas Hein<sup>1</sup>, Matthias Seibold<sup>2,3*</sup>, Federica Bogo<sup>4</sup>, Mazda Farshad<sup>3,5</sup>, Marc Pollefeys<sup>1,4</sup>, Philipp Fürnstahl<sup>3</sup>,  Nassir Navab<sup>2</sup><br/>
				<sup>1</sup>ETH Zurich (CH);  <sup>2</sup>TU Munich (DE); <sup>3</sup>Balgrist University Hospital Zurich (CH); <sup>4</sup>Microsoft (CH); <sup>5</sup>University of Zurich. &nbsp; [#11]</span></p>


				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Fast and Robust Localization of Surgical Array using Kalman Filter</span><br/>
				<span style="font-size:14px">Md Ashikuzzaman<sup>1*</sup>, Noushin Jafarpisheh<sup>1</sup>, Sunil Rottoo<sup>2</sup>, Pierre Brisson<sup>2</sup>, Hassan Rivaz<sup>1</sup><br/>
				<sup>1</sup>Concordia University (Montreal, CA); <sup>2</sup>THINK Surgical Inc. (CA). &nbsp; [#31]</span></p>


				<p class="font_8" style="font-size:18px"><span style="font-size:22px">Automating Periodontal Bone Loss Measurement via Dental Landmark Localisation</span><br/>
				<span style="font-size:14px">Raymond P Danks<sup>1*</sup>, Sophia Dr Bano<sup>1</sup>, Anastasiya Orishko<sup>1</sup>, Hong Jin Tan<sup>1</sup>, Federico Moreno Sancho<sup>1</sup>, Francesco D'Aiuto<sup>1</sup>, Danail Stoyanov<sup>1</sup><br/>
				<sup>1</sup>University College London (UK). &nbsp; [#46]</span></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>19:35 Breaks and Posters (S8-9)</b></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>20:15 Awards and Closing</b></p>
				
				<p class="font_8" style="font-size:18px"><span style="font-size:22px"><b>21:00 Post-IPCAI Social Event</b></p>
				
			</div>
			
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<a href="#program" class="btn btn-primary btn-xl page-scroll">Back to top</a></br></br></br></br>
			</div>
        </div>
    </div>

</section>
