<section id="review">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Review Process</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    All papers accepted at IPCAI are intended to be published in a special issue of the International Journal of Computer Assisted Radiology and Surgery (IJCARS) after all revisions recommended during the review process have been addressed.<br><br>
                    
                    For this reason, papers submitted to IPCAI follow a two-step review process, described below.<br>
                </p>
                <p>
                    <b>Step (1): IPCAI review process</b>: The submissions are reviewed by two committees to ensure high quality papers suitable for presentation at IPCAI and publication in IJCARS:
                </p>
                <h4>
                    <dl>
                        <dt>
                            Area Chairs (ACs)
                        </dt>
                        <dd>
                            who assign reviewers (primary role) and make decision recommendations for a subset of submitted papers (secondary role).
                        </dd>
                        <br>

                        <dt>
                            Reviewers
                        </dt>
                        <dd> 
                            who provide an evaluation for a set of papers. Each paper is assigned to three reviewers. ACs act both as a Primary and as a Secondary AC for different subsets of papers:
                        </dd>
                        <br>
                        
                        <dt>
                            Primary ACS
                        </dt>
                        <dd>
                            assign three reviewers to each paper. They know the identity of the authors and the reviewers and ensure that there are no conflicts of interest. Reviewer assignment ensures that at least one reviewer is senior in the topic and the reviewers represent a good spread of institutions and geographical locations. Primary ACs ensure three detailed, solid external reviews for each paper and encourage reviewers to update scores after the rebuttal phase. They then provide a summary of the reviews as well as a recommendation.
                        </dd>
                        <br>

                        <dt>
                            Secondary ACs
                        </dt>
                        <dd>
                            are responsible for making a second independent recommendation for acceptance/rejection of manuscripts. They do not know the identity of the reviewers and make a recommendation for papers that do not belong to the set of manuscripts in their Primary AC set. At the program board meeting, each paper discussed will have two independent recommendations: one from a Primary AC and one from a Secondary AC.
                        </dd>
                    </dl>
                </h4>
                <p>
                    Note: These two AC roles are designed to reduce any possible bias arising from knowledge of the identity of the reviewers in the single-blind process.<br><br>
                    The timeline of the review process is as follows:
                </p>
                <h4>
                    <dl>
                        <dt>
                            Assignment of ACs
                        </dt>
                        <dd>
                            Each submission is assigned to one Primary AC and one Secondary AC. The assignment is based on the matching between the expertise of the AC and the contents of the paper.
                        </dd>
                        <br>

                        <dt>
                            Assignment of Reviewers by Primary ACs
                        </dt>
                        <dd>
                            The Primary AC member assigns three reviewers to evaluate each paper. Conflicts of interest are herewith taken into account; no reviewer from the same organization as the authors is allowed and the ACs try to take geographical spread into account; at least one senior reviewer is assigned. Primary AC members will make their best effort to assign the appropriate reviewers to each paper.
                        </dd>
                        <br>

                        <dt>
                            Review by Reviewers
                        </dt>
                        <dd>
                            Reviewers work on their reviews and once submitted they are checked by the Primary AC to ensure sufficient constructive content.
                        </dd>
                        <br>

                        <dt>
                            Recommendations by ACs
                        </dt>
                        <dd>
                            For each paper for which there is consensus among the reviewers, the Primary and one Secondary AC make a recommendation about acceptance or rejection of the paper and may also recommend the paper for awards.
                        </dd>
                        <br>

                        <dt>
                            Early Acceptance/Rejection
                        </dt>
                        <dd>
                            Decision are made to reject/accept papers for which there is consensus among the reviewers and ACs. Decisions and reviews are sent to the authors. For accepted papers, the authors can begin revising their papers according to the comments of the reviewers for the second step of the process.
                        </dd>
                        <br>

                        <dt>
                            Rebuttal Period
                        </dt>
                        <dd>
                            For papers who have not been subject to an early decision, the authors receive the reviews and are invited to submit a rebuttal.
                        </dd>
                        <br>
                        
                        <dt>
                            Update of Reviews by Reviewers
                        </dt>
                        <dd>
                            The Primary AC urges the reviewers to consider the authors’ rebuttal and to update their reviews and scores accordingly. The purpose of this step is not necessarily to reach consensus among the reviewers but to eliminate any misunderstanding.
                        </dd>
                        <br>

                        <dt>
                            Recommendations by ACs
                        </dt>
                        <dd>
                            For each paper, the Primary and Secondary ACs provide their recommendation about acceptance or rejection of the paper by taking into account the initial reviews, the rebuttal and the updated reviews.
                        </dd>
                        <br>

                        <dt>
                            Final Decisions
                        </dt>
                        <dd>
                            The Program Chairs compile all recommendations for the Program Board Meeting. The Program Board then finalizes acceptance/rejection decisions and selects papers with award nominations. The award winners are decided later by the IPCAI Award Committee.
                        </dd>
                        <br>

                        <dt>
                            Notification of Acceptance
                        </dt>
                        <dd>
                            The authors are notified about the final decision and are provided the reviews and comments from the ACs that offer additional information on how the decision was made. The authors begin revising their papers according to the reviews for the second step of the process.
                        </dd>
                    </dl>
                </h4>
                <br>

                <p>
                    <b>Step (2): IJCARS review process</b>
                </p>
                <h4>
                    <dl>
                        <dt>
                            Submission to IJCARS
                        </dt>
                        <dd>
                            Authors of accepted papers submit their updated manuscript to IJCARS for publication in the IPCAI special issue. For each paper, the Program Chairs, which serve as Guest Editors of the special issue, transmit the IPCAI recommendation and the reviewers’ information to IJCARS. IJCARS sends the updated manuscripts for a final round of review, using the same reviewers as during the IPCAI review process. The reviewers include the Primary and Secondary ACs. These reviewers check that the papers have been revised according to the recommendations formulated during the IPCAI review process and confirm their recommendations accordingly.
                        </dd>
                        <br>
                        
                        <dt>
                            Notification by IJCARS
                        </dt>
                        <dd>
                            The authors are notified about the final outcome and asked to submit the final revised manuscripts for publication in the special issue. Papers that would not be immediately accepted, because they did not comply with the recommendations, will be presented at IPCAI and kept within the IJCARS review process for later publication in a regular issue of the journal.
                        </dd>
                    </dl>
                </h4>
            </div>
        </div>
    </div>
</section>