<section class="bg-primary" id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsorships</h2>                    
                <hr class="light">
            </div>
        </div>
    </div>
    
    <div class="container">
		<div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-left">
                    We thank all sponsors who are considering supporting the conference. A list of all supporters will appear here shortly.
					<!--<p class="text-faded">IPCAI is generously supported by the following industrial partners:</p>-->
                </p>
        </div>
    </div>
	<!--
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.ndigital.com/" target="_blank" class="portfolio-box">
                    <img src="img/sponsor_logo/ndi_newx200.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Northern Digital Inc.
                            </div>
                            <div class="project-name">
                                More about Northern Digital Inc.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.aurishealth.com/" target="_blank" class="portfolio-box">
                    <img src="img/sponsor_logo/auris-goldx200.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Auris Health, Inc.
                            </div>
                            <div class="project-name">
                                More about Auris Health, Inc.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.intuitive.com" target="_blank" class="portfolio-box" >
                    <img src="img/sponsor_logo/Intuitive_CorpLogoTM_Blue_JPGx200.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Intuitive Surgical
                            </div>
                            <div class="project-name">
                                More about Intuitive Surgical
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.retinai.com/" target="_blank" class="portfolio-box" >
                    <img src="img/sponsor_logo/RetinAI.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                RetinAI
                            </div>
                            <div class="project-name">
                                More about RetinAI
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cascination.com/" target="_blank" class="portfolio-box" >
                    <img src="img/sponsor_logo/CAScination_newx200.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CAScination AG
                            </div>
                            <div class="project-name">
                                More about CAScination AG
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.imfusion.com/" target="_blank" class="portfolio-box" >
                    <img src="img/sponsor_logo/ImFusion_Logo_blue_R0G161B212_black_withblank.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                ImFusion
                            </div>
                            <div class="project-name">
                                More about ImFusion
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.aptorumgroup.com/" target="_blank" class="portfolio-box" >
                    <img src="img/sponsor_logo/signate_logo_newx200.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Signate Life Science
                            </div>
                            <div class="project-name">
                                More about Signate Life Science
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.philips.com/global/" target="_blank" class="portfolio-box" >
                    <img src="img/sponsor_logo/philips_new_newx200.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Philips
                            </div>
                            <div class="project-name">
                                More about Philips
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
	-->
</section>
