<section class="bg-primary" id="subjects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Subject Areas</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Submissions of original work are encouraged within the broad areas of interest of Computer-Assisted Interventions (CAI) and specifically in the areas of:
                </p>
            </div>
            <div class="col-lg-12">
                <h3>
                    <ul>
                    <li>Surgical data science</li>
                    <li>Interventional imaging</li>
                    <li>System and software</li>
                    <li>Augmented reality for medical applications</li>
                    <li>Surgical planning and simulation</li>
                    <li>Tracking, calibration, and navigation</li>
                    <li>Interventional robotics</li>
                    <li>Surgical skill analysis and workflow</li>
                    <li>Advanced intra-operative visualization and user interfaces</li>
                    </ul>
                </h3>
            </div>
        </div>
    </div>
</section>