<section class="bg-primary" id="submission">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Paper Submission</h2>
                <hr class="primary">
				<p class="text-left">
				<b>Regular Papers</b></br></br>
				
				Submissions are in <a href="https://www.springer.com/journal/11548" style="color: rgb(233,196,106)"> International Journal of Computer Assisted Radiology and Surgery (IJCARS)</a> format, up to 13 pages for Regular Papers. </br></p>
				
				<ul class="text-left">
				<li><p class="font_8"><span class="color_12">LaTex: a style file (SVJour3) is available from <a href="http://static.springer.com/sgw/documents/468198/application/zip/LaTeX_DL_468198_240419.zip" style="color: rgb(233,196,106)">Springer’s website</a>. If you use this style file use the first option in the template as your document class, “one column (standard format)”.</span></li>
				<li><p class="font_8"><span class="color_12">Word: unfortunately, we do not have a word template. Your text will need to fit inside a 7.25″x4.5″ (18.415 cm x 11.43 cm) region. Text font should be set to Times new roman 10 pt. Captions and reference font should be set to Times new roman 9 pt. We encourage the use of the LaTex template.</span></li>
				</ul>
				
				<p class="text-left">							
				Please use Microsoft's Conference Management Toolkit (CMT) for submission: click <a href="https://cmt3.research.microsoft.com/IPCAI2021" style="color: rgb(233,196,106)">HERE</a> to submit your paper.</br></br>
				
				<b>Long Abstracts</b></br></br>
				
				Submissions for Long Abstracts are in <a href="https://www.springer.com/gp/computer-science/lncs" style="color: rgb(233,196,106)">Lecture Notes in Computer Science (LNCS)</a> format, up to 4 pages. The <a href="ftp://ftp.springernature.com/cs-proceeding/llncs/llncs2e.zip" style="color: rgb(233,196,106)">LNCS LaTeX template</a> should be used to prepare the paper drafts in PDF format. Submission for Long Abstracts is not open, yet.</p>
				
				<img src="img/writing.jpg" class="img-responsive" alt="">
				
            </div>
        </div>
    </div>
	<!--
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    Please click <a href="https://cmt3.research.microsoft.com/IPCAI2019/" target="_blank">HERE</a> to submit your paper. 
                </h3><br><br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    <b>Instruction for REGULAR paper submission</b>
                </h3>
                <h3>
                    <ul>
                        <li>
                            Paper should be formatted for submission to the <a href="http://www.springer.com/medicine/radiology/journal/11548" target="_blank">International Journal of Computer Assisted Radiology and Surgery (IJCARS)</a>. Detailed instructions with regard to paper format: Title page, Abstract structure, References, etc. can be found on the IJCARS site under “Instructions for Authors” tab.
                        </li>
                        <ul>
                            <li>
                                LaTex: a style file is available from <a href="http://static.springer.com/sgw/documents/468198/application/zip/LaTeX.zip">Springer’s website</a>. If you use this style file use the first option in the template as your document class, “one column (standard format)”.
                            </li>
                            <li>
                                Word: unfortunately, we do not have a word template. Your text will need to fit inside a 7.25″x4.5″ (18.415 cm x 11.43 cm) region. Text font should be set to Times new roman 10 pt. Captions and reference font should be set to Times New Roman 9 pt. We encourage the use of the LaTex template for IPCAI 2019.
                            </li>
                        </ul>
                        <li>
                            The file format for submissions is Adobe Portable Document Format (PDF) with a maximum of 20MB in size. Other formats will <b>not</b> be accepted.
                        </li>
                        <li>
                            All papers should be submitted in IJCARS single column format.
                        </li>
                        <li>
                            The maximum number of pages for your submitted paper is <b>13 in single column format</b> including abstract and references.
                        </li>
                        <li>
                            The <a class="page-scroll" href="#review">review process</a> is single blind: authors declare their names and affiliations in the manuscript for the reviewers to see, but reviewers do not know each other’s identities, nor do the authors receive information about who has reviewed their manuscript.
                        </li>
                        <li>
                            Submissions should describe original work that has not been submitted to or accepted for another conference, nor is intended to be published in a journal before the IPCAI conference in June 2019.
                        </li>
                        <li>
                            Intentions to submit: October 26, 2018.</li>
                        <li>
                            Paper submission: November 2, 2018.</li>
                        <li>
                            Supplemental material deadline: November 9, 2018.
                        </li>
                    </ul>
                </h3>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    <b>Instruction for LONG ABSTRACT submission</b>
                </h3>
                <h3>
                    <ul>
                        <li>
                            The maximum number of pages for your long abstracts is 4 pages (including references) in the Springer LNCS style format. The LaTex a style file is available from <a href="ftp://ftp.springernature.com/cs-proceeding/llncs/llncs2e.zip">Springer’s website</a>. 
                        </li>
                        <li>
                            The review process is single blind: authors declare their names and affiliations in the manuscript for the reviewers to see, but reviewers do not know each other’s identities, nor do the authors receive information about who has reviewed their manuscript.
                        </li>
                        <li>
                            The file format for submissions is Adobe Portable Document Format (PDF) with a maximum of 20MB in size. Other formats will not be accepted.
                        </li>
                        <li>
                            The focus of these Long Abstracts should be on:
                            <ul>
                                <li>
                                    Exciting new breakthroughs relevant to IPCAI or, 
                                </li>
                                <li>
                                    Novel ideas with preliminary but limited experimental validation. 
                                </li>
                            </ul>
                        </li>
                        <li>
                            Submission deadline: January 11th, 2019.
                        </li>
                    </ul>
                </h3>
            </div>
        </div>
    </div>-->
</section>
