<section id="submission">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Paper Submission</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
            <div class="col-lg-12">
            <h3>The paper submission system (Microsoft CMT) will be opening SOON. </h3><br><br>
            </div>
            </div>
            </div>
</section>
