<section class="no-padding" id="venue">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Venue and Registration</h2>
                <hr class="primary">
            </div>
        </div>

    <div class="container">
            <div class="row">
            <div class="col-lg-12">
            <h3>IPCAI 2019 will be hosted in conjunction with the 33th Internation Conference on Computer Assisted Radiology and Surgery (CARS): </h3><br><br>
            </div>
            </div>
            </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cars2019.org/touristic-information" target="_blank" class="portfolio-box">
                    <img src="img/rennes/Rennes_church_wide.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Rennes, France
                            </div>
                            <div class="project-name">
                                About Rennes and the surrounding area
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cars2019.org/venue" target="_blank" class="portfolio-box">
                    <img src="img/rennes/Rennes_lecture_Hall_crop.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Venue
                            </div>
                            <div class="project-name">
                                About the meeting place
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/venue/venue4_crop.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Registration
                            </div>
                            <div class="project-name">
                                Registration via CARS 2019<br>COMING SOON
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
