<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include news.html %}
  {% include about.html %}
  {% include program.html %}
  {% include sponsors.html %}
  {% include submission.html %}
  {% include CFP.html %}
  {% include review.html %}
  {% include subjects.html %}
  {% include author.html %}
  {% include publication.html %}
  {% include venue.html %}
  {% include CFPLA.html %}
  {% include LAFAQ.html %}
  {% include committees.html %}
  {% include past.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>